In [1]:
from src import functions as f
%load_ext autoreload
%autoreload 2

import warnings
warnings.filterwarnings('ignore')

In [2]:
# download / extract tables
f.download_tables()

Start time: 2024-06-11 01:52:29
Downloaded 56 max daily and hourly stock data
End Time: 2024-06-11 01:52:47

In [3]:
# load / transform tables
import pandas as pd

aapl_1d = pd.read_pickle('./data/aapl_1d_df.pkl')
aapl_1d

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1980-12-12 00:00:00-05:00,0.128348,0.128906,0.128348,0.128348,0.099058,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.122210,0.122210,0.121652,0.121652,0.093890,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.113281,0.113281,0.112723,0.112723,0.086999,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.115513,0.116071,0.115513,0.115513,0.089152,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.118862,0.119420,0.118862,0.118862,0.091737,73449600,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-06-04 00:00:00-04:00,194.639999,195.320007,193.029999,194.350006,194.350006,47471400,0.0,0.0
2024-06-05 00:00:00-04:00,195.399994,196.899994,194.869995,195.869995,195.869995,54156800,0.0,0.0
2024-06-06 00:00:00-04:00,195.690002,196.500000,194.169998,194.479996,194.479996,41181800,0.0,0.0
2024-06-07 00:00:00-04:00,194.649994,196.940002,194.139999,196.889999,196.889999,53103900,0.0,0.0
2024-06-10 00:00:00-04:00,196.899994,197.300003,192.149994,193.119995,193.119995,97010200,0.0,0.0