In [1]:
from src import functions as f
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
# download / extract tables
f.download_tables()

Start time: 2024-07-29 22:00:37
Downloaded 56 max daily, hourly, 30m, and 15m stock data
End Time: 2024-07-29 22:01:47

In [3]:
# load / transform tables
# f.load_transform_tables() # old way
transformer = f.transforms(stock_list = f.read_symbols_csv())
transformer.load_transform_tables()

In [4]:
nvda_1h_model = pd.read_pickle('./models/nvda_15m_model_df.pkl')
nvda_1h_model

,top_z21,body_z21,bottom_z21,top_z21,body_z21,bottom_z21,pct_gap_up_down,ac_z5,ac_z8,ac_z13,kma_sma40_diff_z21,Adj Close,direction
Datetime,,,,,,,,,,,,,
2024-05-02 04:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,84.5000,-1
2024-05-02 04:15:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.800391,NaN,NaN,NaN,NaN,84.4590,1
2024-05-02 04:30:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.308642,NaN,NaN,NaN,NaN,84.4980,-1
2024-05-02 04:45:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.776680,NaN,NaN,NaN,NaN,84.1490,1
2024-05-02 05:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.065618,-0.745982,NaN,NaN,NaN,84.2510,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-29 18:45:00-04:00,0.403664,-0.821841,0.314396,0.403664,-0.821841,0.314396,-0.800200,-0.753778,-0.355537,0.131114,0.520871,111.6100,-1
2024-07-29 19:00:00-04:00,-1.150813,1.900107,-0.718437,-1.150813,1.900107,-0.718437,-0.384615,-1.670383,-2.186051,-1.716412,0.860107,111.3300,-1
2024-07-29 19:15:00-04:00,-0.407400,-0.038253,0.484511,-0.407400,-0.038253,0.484511,0.162162,-1.250745,-1.708749,-2.200591,1.190263,111.2714,-1
2024-07-29 19:30:00-04:00,-0.208887,1.469095,-1.299753,-0.208887,1.469095,-1.299753,-0.425000,-1.249993,-1.662008,-2.248694,2.146969,111.1200,-1
2024-07-29 19:45:00-04:00,-0.774629,1.562089,-0.891609,-0.774629,1.562089,-0.891609,-0.913043,-1.462169,-1.883039,-2.508163,2.227239,110.7700,0

In [5]:
nvda_1h_model = pd.read_pickle('./data/nvda_15m_df.pkl')
nvda_1h_model

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,,
2024-05-02 04:00:00-04:00,84.301000,84.563000,84.052000,84.5000,84.5000,0,0.0,0.0
2024-05-02 04:15:00-04:00,84.461000,84.562000,84.400000,84.4590,84.4590,0,0.0,0.0
2024-05-02 04:30:00-04:00,84.450000,84.526000,84.320000,84.4980,84.4980,0,0.0,0.0
2024-05-02 04:45:00-04:00,84.479996,84.496994,84.116000,84.1490,84.1490,0,0.0,0.0
2024-05-02 05:00:00-04:00,84.141000,84.293000,84.009995,84.2510,84.2510,0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-07-29 18:45:00-04:00,111.599900,111.670000,111.540000,111.6100,111.6100,0,0.0,0.0
2024-07-29 19:00:00-04:00,111.620000,111.620000,111.250000,111.3300,111.3300,0,0.0,0.0
2024-07-29 19:15:00-04:00,111.310000,111.340000,111.200000,111.2714,111.2714,0,0.0,0.0
2024-07-29 19:30:00-04:00,111.280500,111.340000,111.110000,111.1200,111.1200,0,0.0,0.0
2024-07-29 19:45:00-04:00,111.130000,111.180000,110.710000,110.7700,110.7700,0,0.0,0.0