In [1]:
from src import functions as f
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
# download / extract tables
f.download_tables()

Start time: 2024-07-22 14:24:28
Downloaded 56 max daily, hourly, 30m, and 15m stock data
End Time: 2024-07-22 14:25:35

In [3]:
# load / transform tables
# f.load_transform_tables() # old way
transformer = f.transforms(stock_list = f.read_symbols_csv())
transformer.load_transform_tables()

In [4]:
nvda_1h_model = pd.read_pickle('./models/nvda_15m_model_df.pkl')
nvda_1h_model

,top_z21,body_z21,bottom_z21,top_z21,body_z21,bottom_z21,pct_gap_up_down,ac_z5,ac_z8,ac_z13,kma_sma40_diff_z21,Adj Close,direction
Datetime,,,,,,,,,,,,,
2024-04-25 04:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,79.400,-1
2024-04-25 04:15:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,-0.230383,NaN,NaN,NaN,NaN,79.263,1
2024-04-25 04:30:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,-0.570326,NaN,NaN,NaN,NaN,79.890,-1
2024-04-25 04:45:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,79.700,1
2024-04-25 05:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.993926,NaN,NaN,NaN,79.931,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-22 16:15:00-04:00,-0.906626,-1.589580,2.665702,-0.906626,-1.589580,2.665702,0.288136,0.051808,0.128911,0.342038,-0.106077,123.390,-1
2024-07-22 16:30:00-04:00,1.102355,-1.233182,0.395293,1.102355,-1.233182,0.395293,0.835314,-0.850658,-0.154987,0.049959,-0.344880,123.340,1
2024-07-22 16:45:00-04:00,1.192862,-1.000355,-0.011086,1.192862,-1.000355,-0.011086,0.000000,-0.469261,0.040266,0.061263,-0.944054,123.380,0
2024-07-22 17:00:00-04:00,1.234334,-0.562659,-0.603085,1.234334,-0.562659,-0.603085,-0.413793,-0.124635,0.037746,-0.046560,-1.820351,123.380,-1
2024-07-22 17:15:00-04:00,0.742874,-0.701813,0.096269,0.742874,-0.701813,0.096269,0.000000,-0.307794,-0.553631,-0.031918,-2.250086,123.365,0

In [5]:
nvda_1h_model = pd.read_pickle('./data/nvda_15m_df.pkl')
nvda_1h_model

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,,
2024-04-25 04:00:00-04:00,78.771,79.660995,78.6540,79.400,79.400,0,0.0,0.0
2024-04-25 04:15:00-04:00,79.429,79.496994,79.1060,79.263,79.263,0,0.0,0.0
2024-04-25 04:30:00-04:00,79.274,79.987000,79.2000,79.890,79.890,0,0.0,0.0
2024-04-25 04:45:00-04:00,79.890,80.190000,79.5510,79.700,79.700,0,0.0,0.0
2024-04-25 05:00:00-04:00,79.700,80.030000,79.6000,79.931,79.931,0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-07-22 16:15:00-04:00,123.410,123.540000,122.1434,123.390,123.390,0,0.0,0.0
2024-07-22 16:30:00-04:00,123.310,123.540000,123.1500,123.340,123.340,0,0.0,0.0
2024-07-22 16:45:00-04:00,123.340,123.540000,123.2500,123.380,123.380,0,0.0,0.0
2024-07-22 17:00:00-04:00,123.420,123.520000,123.3500,123.380,123.380,0,0.0,0.0
2024-07-22 17:15:00-04:00,123.380,123.420000,123.3400,123.365,123.365,0,0.0,0.0

In [6]:
def prime_check(number):
    if type(number) is not int or number <= 1:
        return f'{number} is not a prime number'
    elif number == 2:
        return f'{number} is a prime number'
    elif number % 2 == 0 and number != 2:
        return f'{number} is not a prime number'
    for n in range(3,number//2):
        if number % n == 0:
            return f'{number} is not a prime number'
    return f'{number} is a prime number'

for x in range(101,201):
    print(prime_check(x))

101 is a prime number
102 is not a prime number
103 is a prime number
104 is not a prime number
105 is not a prime number
106 is not a prime number
107 is a prime number
108 is not a prime number
109 is a prime number
110 is not a prime number
111 is not a prime number
112 is not a prime number
113 is a prime number
114 is not a prime number
115 is not a prime number
116 is not a prime number
117 is not a prime number
118 is not a prime number
119 is not a prime number
120 is not a prime number
121 is not a prime number
122 is not a prime number
123 is not a prime number
124 is not a prime number
125 is not a prime number
126 is not a prime number
127 is a prime number
128 is not a prime number
129 is not a prime number
130 is not a prime number
131 is a prime number
132 is not a prime number
133 is not a prime number
134 is not a prime number
135 is not a prime number
136 is not a prime number
137 is a prime number
138 is not a prime number
139 is a prime number
140 is not a prime number
141 is not a prime number
142 is not a prime number
143 is not a prime number
144 is not a prime number
145 is not a prime number
146 is not a prime number
147 is not a prime number
148 is not a prime number
149 is a prime number
150 is not a prime number
151 is a prime number
152 is not a prime number
153 is not a prime number
154 is not a prime number
155 is not a prime number
156 is not a prime number
157 is a prime number
158 is not a prime number
159 is not a prime number
160 is not a prime number
161 is not a prime number
162 is not a prime number
163 is a prime number
164 is not a prime number
165 is not a prime number
166 is not a prime number
167 is a prime number
168 is not a prime number
169 is not a prime number
170 is not a prime number
171 is not a prime number
172 is not a prime number
173 is a prime number
174 is not a prime number
175 is not a prime number
176 is not a prime number
177 is not a prime number
178 is not a prime number
179 is a prime number
180 is not a prime number
181 is a prime number
182 is not a prime number
183 is not a prime number
184 is not a prime number
185 is not a prime number
186 is not a prime number
187 is not a prime number
188 is not a prime number
189 is not a prime number
190 is not a prime number
191 is a prime number
192 is not a prime number
193 is a prime number
194 is not a prime number
195 is not a prime number
196 is not a prime number
197 is a prime number
198 is not a prime number
199 is a prime number
200 is not a prime number