In [1]:
from src import functions as f
%load_ext autoreload
%autoreload 2

import warnings
warnings.filterwarnings('ignore')

In [2]:
# download / extract tables
f.download_tables()

Start time: 2024-07-04 01:45:57
Downloaded 56 max daily and hourly stock data
End Time: 2024-07-04 01:46:16

In [17]:
# load / transform tables
f.load_transform_tables()

Start time: 2024-07-04 17:01:14
Downloaded 56 max daily and hourly stock data
End Time: 2024-07-04 17:02:00

In [18]:
# checks
import pandas as pd

aapl_1d = pd.read_pickle('./data/aapl_1d_df.pkl')
aapl_1d

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1980-12-12 00:00:00-05:00,0.128348,0.128906,0.128348,0.128348,0.099058,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.122210,0.122210,0.121652,0.121652,0.093890,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.113281,0.113281,0.112723,0.112723,0.086999,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.115513,0.116071,0.115513,0.115513,0.089152,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.118862,0.119420,0.118862,0.118862,0.091737,73449600,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-06-27 00:00:00-04:00,214.690002,215.740005,212.350006,214.100006,214.100006,49772700,0.0,0.0
2024-06-28 00:00:00-04:00,215.770004,216.070007,210.300003,210.619995,210.619995,82542700,0.0,0.0
2024-07-01 00:00:00-04:00,212.089996,217.509995,211.919998,216.750000,216.750000,60402900,0.0,0.0
2024-07-02 00:00:00-04:00,216.149994,220.380005,215.100006,220.270004,220.270004,58046200,0.0,0.0
2024-07-03 00:00:00-04:00,220.000000,221.550003,219.029999,221.550003,221.550003,37369800,0.0,0.0

In [19]:
aapl_1h = pd.read_pickle('./data/aapl_1h_df.pkl')
aapl_1h

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,,
2024-04-09 09:30:00-04:00,168.692001,170.074997,168.500000,169.470001,169.470001,9892473,0.0,0.0
2024-04-09 10:30:00-04:00,169.475006,169.490005,168.479996,168.695007,168.695007,5975622,0.0,0.0
2024-04-09 11:30:00-04:00,168.699997,169.160004,168.690002,169.070007,169.070007,3680884,0.0,0.0
2024-04-09 12:30:00-04:00,169.070007,169.559998,168.899994,169.259995,169.259995,3462971,0.0,0.0
2024-04-09 13:30:00-04:00,169.270004,169.500000,168.500000,168.585007,168.585007,4167688,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-07-02 15:30:00-04:00,219.610001,220.380005,219.500000,220.369995,220.369995,5279602,0.0,0.0
2024-07-03 09:30:00-04:00,220.429993,221.399994,219.029999,219.380005,219.380005,14372255,0.0,0.0
2024-07-03 10:30:00-04:00,219.379898,220.729996,219.100098,220.115005,220.115005,6600486,0.0,0.0
2024-07-03 11:30:00-04:00,220.115005,221.300003,219.770004,221.300003,221.300003,5274586,0.0,0.0
2024-07-03 12:30:00-04:00,221.289993,221.600006,220.880005,221.089996,221.089996,0,0.0,0.0

In [20]:
nvda_1d = pd.read_pickle('./data/nvda_1d_df.pkl')
nvda_1d

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1999-01-22 00:00:00-05:00,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000,0.0,0.0
1999-01-25 00:00:00-05:00,0.044271,0.045833,0.041016,0.045313,0.041562,510480000,0.0,0.0
1999-01-26 00:00:00-05:00,0.045833,0.046745,0.041146,0.041797,0.038337,343200000,0.0,0.0
1999-01-27 00:00:00-05:00,0.041927,0.042969,0.039583,0.041667,0.038218,244368000,0.0,0.0
1999-01-28 00:00:00-05:00,0.041667,0.041927,0.041276,0.041536,0.038098,227520000,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-06-27 00:00:00-04:00,124.099998,126.410004,122.919998,123.989998,123.989998,252571700,0.0,0.0
2024-06-28 00:00:00-04:00,124.580002,127.709999,122.750000,123.540001,123.540001,315516700,0.0,0.0
2024-07-01 00:00:00-04:00,123.470001,124.839996,118.830002,124.300003,124.300003,284885500,0.0,0.0
2024-07-02 00:00:00-04:00,121.129997,123.410004,121.029999,122.669998,122.669998,218374000,0.0,0.0
2024-07-03 00:00:00-04:00,121.660004,128.279999,121.360001,128.279999,128.279999,215749000,0.0,0.0

In [21]:
nvda_1h = pd.read_pickle('./data/nvda_1h_df.pkl')
nvda_1h

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,,
2024-04-09 09:30:00-04:00,87.430000,87.634995,84.279999,84.417007,84.417007,12851336,0.0,0.0
2024-04-09 10:30:00-04:00,84.450500,84.479996,83.021996,83.976990,83.976990,13165537,0.0,0.0
2024-04-09 11:30:00-04:00,83.944000,84.998001,83.500000,84.660995,84.660995,6782422,0.0,0.0
2024-04-09 12:30:00-04:00,84.664001,84.971001,84.369003,84.628998,84.628998,3996878,0.0,0.0
2024-04-09 13:30:00-04:00,84.620438,84.996002,84.528999,84.612999,84.612999,3527084,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-07-02 15:30:00-04:00,122.309998,122.709999,121.779999,122.660004,122.660004,18584269,0.0,0.0
2024-07-03 09:30:00-04:00,121.669998,122.760002,121.360001,121.790001,121.790001,54930564,0.0,0.0
2024-07-03 10:30:00-04:00,121.800003,126.129997,121.589996,126.039902,126.039902,60513686,0.0,0.0
2024-07-03 11:30:00-04:00,126.040001,128.009995,125.650002,127.995003,127.995003,47482022,0.0,0.0
2024-07-03 12:30:00-04:00,127.985001,128.690002,125.278503,127.945000,127.945000,0,0.0,0.0

In [22]:
nvda_1d_model = pd.read_pickle('./models/nvda_1d_model_df.pkl')
nvda_1d_model

,pct_top_wick,pct_body,pct_bottom_wick,top_z21,body_z21,bottom_z21,pct_gap_up_down,ac_z5,ac_z8,ac_z13,Adj Close,direction
Date,,,,,,,,,,,,
1999-01-22 00:00:00-05:00,0.506483,0.272691,0.220826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.037621,1
1999-01-25 00:00:00-05:00,0.107951,0.216318,0.675732,NaN,NaN,NaN,0.324656,NaN,NaN,NaN,0.041562,-1
1999-01-26 00:00:00-05:00,0.162886,0.720843,0.116271,NaN,NaN,NaN,0.107951,NaN,NaN,NaN,0.038337,0
1999-01-27 00:00:00-05:00,0.307738,0.076787,0.615475,NaN,NaN,NaN,0.023218,NaN,NaN,NaN,0.038218,0
1999-01-28 00:00:00-05:00,0.399385,0.201229,0.399385,NaN,NaN,NaN,0.000000,-0.422076,NaN,NaN,0.038098,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-27 00:00:00-04:00,0.661892,0.031519,0.306590,2.723104,-1.526173,-0.296845,-0.416667,-0.067670,-0.633693,-0.562827,123.989998,0
2024-06-28 00:00:00-04:00,0.631048,0.209678,0.159274,2.110806,-0.796922,-0.891630,0.169055,-0.025832,-0.551002,-0.699653,123.540001,0
2024-07-01 00:00:00-04:00,0.089849,0.138104,0.772047,-0.655790,-0.970153,1.655373,-0.014113,-0.435869,-0.187416,-0.630791,124.300003,-1
2024-07-02 00:00:00-04:00,0.310926,0.647058,0.042016,0.415652,0.907630,-1.332128,-0.527456,-1.090559,-0.466245,-0.918746,122.669998,1
2024-07-03 00:00:00-04:00,0.000000,0.956647,0.043353,-1.205848,1.795474,-1.198359,-0.424367,1.715777,1.348237,0.307356,128.279999,0

In [23]:
nvda_1h_model = pd.read_pickle('./models/nvda_1h_model_df.pkl')
nvda_1h_model

,pct_top_wick,pct_body,pct_bottom_wick,top_z21,body_z21,bottom_z21,pct_gap_up_down,ac_z5,ac_z8,ac_z13,Adj Close,direction
Datetime,,,,,,,,,,,,
2024-04-09 09:30:00-04:00,0.061101,0.898062,0.040837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.417007,0
2024-04-09 10:30:00-04:00,0.020230,0.324767,0.655003,NaN,NaN,NaN,0.009983,NaN,NaN,NaN,83.976990,1
2024-04-09 11:30:00-04:00,0.224970,0.478635,0.296395,NaN,NaN,NaN,-0.022627,NaN,NaN,NaN,84.660995,0
2024-04-09 12:30:00-04:00,0.509968,0.058146,0.431886,NaN,NaN,NaN,0.002007,NaN,NaN,NaN,84.628998,0
2024-04-09 13:30:00-04:00,0.804202,0.015929,0.179870,NaN,NaN,NaN,-0.014220,0.536796,NaN,NaN,84.612999,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-02 15:30:00-04:00,0.053759,0.376351,0.569891,-1.003916,0.099888,1.082001,-0.012639,0.004505,0.084910,-0.510197,122.660004,0
2024-07-03 09:30:00-04:00,0.692857,0.085716,0.221427,1.506551,-1.263605,-0.630850,-1.064522,-1.526235,-0.921611,-1.178411,121.790001,1
2024-07-03 10:30:00-04:00,0.019845,0.933898,0.046257,-1.109856,2.412947,-1.343916,0.007144,1.745164,2.338069,2.275586,126.039902,1
2024-07-03 11:30:00-04:00,0.006352,0.828393,0.165254,-1.085508,1.782157,-0.773937,0.000022,1.411945,1.999748,2.436639,127.995003,0
2024-07-03 12:30:00-04:00,0.206655,0.011725,0.781620,-0.362849,-1.303611,1.944160,-0.004238,0.910761,1.402384,1.868231,127.945000,0