In [1]:
from src import functions as f

%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
# download / extract tables
f.download_tables()

Start time: 2024-09-07 22:29:29
Downloaded 56 max daily, hourly, 30m, and 15m stock data
End Time: 2024-09-07 22:30:33

In [3]:
# old way with functions: 
# load / transform tables
# f.load_transform_tables()


# new way with OOP:
transformer = f.transforms(stock_list = f.read_symbols_csv())
transformer.load_transform_tables()

In [4]:
nvda_1h_model = pd.read_pickle('./models/nvda_15m_model_df.pkl')
nvda_1h_model

,top_z21,body_z21,bottom_z21,top_z21,body_z21,bottom_z21,gap_z21,ac_z5,ac_z8,ac_z13,kma_sma40_diff_z21,Adj Close,month,day_of_week,hour,direction
Datetime,,,,,,,,,,,,,,,,
2024-08-07 04:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.7500,8,2,4,1
2024-08-07 04:15:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.7800,8,2,4,-1
2024-08-07 04:30:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.8500,8,2,4,1
2024-08-07 04:45:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.7200,8,2,4,-1
2024-08-07 05:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.273466,NaN,NaN,NaN,105.3900,8,2,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-06 18:45:00-04:00,-1.557631,0.757051,0.901383,-1.557631,0.757051,0.901383,-2.637154,-0.258536,0.430171,-0.145215,2.046906,102.5000,9,4,18,1
2024-09-06 19:00:00-04:00,0.433504,0.416615,-0.857286,0.433504,0.416615,-0.857286,0.556749,0.587686,0.930968,0.396780,2.112229,102.5700,9,4,19,-1
2024-09-06 19:15:00-04:00,1.848910,-1.282917,-0.875764,1.848910,-1.282917,-0.875764,-3.159770,0.326334,0.804282,0.716629,2.135257,102.5697,9,4,19,1
2024-09-06 19:30:00-04:00,0.188675,0.838374,-1.028383,0.188675,0.838374,-1.028383,-1.293641,0.975240,1.264171,1.294589,2.028836,102.6200,9,4,19,-1
2024-09-06 19:45:00-04:00,-1.430258,1.583395,0.255824,-1.430258,1.583395,0.255824,-3.042119,-1.104143,-1.149087,0.111495,1.854840,102.4900,9,4,19,0

In [5]:
nvda_1h_model.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1408 entries, 2024-08-07 04:00:00-04:00 to 2024-09-06 19:45:00-04:00
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   top_z21             1388 non-null   float64
 1   body_z21            1388 non-null   float64
 2   bottom_z21          1388 non-null   float64
 3   top_z21             1388 non-null   float64
 4   body_z21            1388 non-null   float64
 5   bottom_z21          1388 non-null   float64
 6   gap_z21             1388 non-null   float64
 7   ac_z5               1404 non-null   float64
 8   ac_z8               1401 non-null   float64
 9   ac_z13              1396 non-null   float64
 10  kma_sma40_diff_z21  1349 non-null   float64
 11  Adj Close           1408 non-null   float64
 12  month               1408 non-null   int32
 13  day_of_week         1408 non-null   int32
 14  hour                1408 non-null   int32
 15  direction           1408 non-null   int64
dtypes: float64(12), int32(3), int64(1)
memory usage: 170.5 KB