In [1]:
from src import functions as f
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
# download / extract tables
f.download_tables()

Start time: 2024-07-18 17:51:21
Downloaded 56 max daily, hourly, 30m, and 15m stock data
End Time: 2024-07-18 17:52:22

In [3]:
# load / transform tables
# f.load_transform_tables() # old way
transformer = f.transforms(stock_list = f.read_symbols_csv())
transformer.load_transform_tables()

In [5]:
nvda_1h_model = pd.read_pickle('./models/nvda_15m_model_df.pkl')
nvda_1h_model

,top_z21,body_z21,bottom_z21,top_z21,body_z21,bottom_z21,pct_gap_up_down,ac_z5,ac_z8,ac_z13,kma_sma40_diff_z21,Adj Close,direction
Datetime,,,,,,,,,,,,,
2024-04-23 04:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,80.214005,1
2024-04-23 04:15:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.992022,NaN,NaN,NaN,NaN,80.289000,1
2024-04-23 04:30:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.408511,NaN,NaN,NaN,NaN,80.470000,1
2024-04-23 04:45:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,80.811000,1
2024-04-23 05:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.051000,NaN,NaN,NaN,80.820000,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-18 18:45:00-04:00,0.367820,1.235972,-1.189696,0.367820,1.235972,-1.189696,0.000000,0.241996,-0.191148,0.401026,1.477641,121.920000,1
2024-07-18 19:00:00-04:00,-1.106063,0.105348,0.474772,-1.106063,0.105348,0.474772,-0.264333,0.654791,0.307675,0.677659,1.455975,121.991500,1
2024-07-18 19:15:00-04:00,-0.641383,0.639841,-0.205854,-0.641383,0.639841,-0.205854,0.950000,1.088842,0.709169,0.919745,1.437057,122.040000,-1
2024-07-18 19:30:00-04:00,0.109144,0.599700,-0.545146,0.109144,0.599700,-0.545146,0.797980,0.031375,-0.020237,-0.103767,1.265965,121.925000,1
2024-07-18 19:45:00-04:00,1.293858,-1.258379,0.464213,1.293858,-1.258379,0.464213,0.278152,-0.593938,-0.008308,-0.196425,1.168841,121.930000,0

In [6]:
nvda_1h_model = pd.read_pickle('./data/nvda_15m_df.pkl')
nvda_1h_model

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,,
2024-04-23 04:00:00-04:00,79.8480,80.214005,79.712000,80.214005,80.214005,0,0.0,0.0
2024-04-23 04:15:00-04:00,80.2100,80.417000,80.182000,80.289000,80.289000,0,0.0,0.0
2024-04-23 04:30:00-04:00,80.2780,80.544000,80.207000,80.470000,80.470000,0,0.0,0.0
2024-04-23 04:45:00-04:00,80.4700,80.813000,80.390000,80.811000,80.811000,0,0.0,0.0
2024-04-23 05:00:00-04:00,80.8130,81.044000,80.701004,80.820000,80.820000,0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-07-18 18:45:00-04:00,121.7300,122.000000,121.700000,121.920000,121.920000,0,0.0,0.0
2024-07-18 19:00:00-04:00,121.9207,122.000000,121.810000,121.991500,121.991500,0,0.0,0.0
2024-07-18 19:15:00-04:00,121.9905,122.050000,121.951000,122.040000,122.040000,0,0.0,0.0
2024-07-18 19:30:00-04:00,122.0300,122.070000,121.862200,121.925000,121.925000,0,0.0,0.0
2024-07-18 19:45:00-04:00,121.9200,121.990000,121.820000,121.930000,121.930000,0,0.0,0.0

In [28]:
def prime_check(number):
    if type(number) is not int or number <= 1:
        return f'{number} is not a prime number'
    elif number == 2:
        return f'{number} is a prime number'
    elif number % 2 == 0 and number != 2:
        return f'{number} is not a prime number'
    for n in range(3,number//2):
        if number % n == 0:
            return f'{number} is not a prime number'
    return f'{number} is a prime number'

for x in range(26,101):
    print(prime_check(x))

26 is not a prime number
27 is not a prime number
28 is not a prime number
29 is a prime number
30 is not a prime number
31 is a prime number
32 is not a prime number
33 is not a prime number
34 is not a prime number
35 is not a prime number
36 is not a prime number
37 is a prime number
38 is not a prime number
39 is not a prime number
40 is not a prime number
41 is a prime number
42 is not a prime number
43 is a prime number
44 is not a prime number
45 is not a prime number
46 is not a prime number
47 is a prime number
48 is not a prime number
49 is not a prime number
50 is not a prime number
51 is not a prime number
52 is not a prime number
53 is a prime number
54 is not a prime number
55 is not a prime number
56 is not a prime number
57 is not a prime number
58 is not a prime number
59 is a prime number
60 is not a prime number
61 is a prime number
62 is not a prime number
63 is not a prime number
64 is not a prime number
65 is not a prime number
66 is not a prime number
67 is a prime number
68 is not a prime number
69 is not a prime number
70 is not a prime number
71 is a prime number
72 is not a prime number
73 is a prime number
74 is not a prime number
75 is not a prime number
76 is not a prime number
77 is not a prime number
78 is not a prime number
79 is a prime number
80 is not a prime number
81 is not a prime number
82 is not a prime number
83 is a prime number
84 is not a prime number
85 is not a prime number
86 is not a prime number
87 is not a prime number
88 is not a prime number
89 is a prime number
90 is not a prime number
91 is not a prime number
92 is not a prime number
93 is not a prime number
94 is not a prime number
95 is not a prime number
96 is not a prime number
97 is a prime number
98 is not a prime number
99 is not a prime number
100 is not a prime number

NameError: name 'ceil' is not defined