In [1]:
from src import functions as f
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
# download / extract tables
f.download_tables()

Start time: 2024-08-02 15:31:53
Downloaded 56 max daily, hourly, 30m, and 15m stock data
End Time: 2024-08-02 15:33:00

In [3]:
# load / transform tables
# f.load_transform_tables() # old way
transformer = f.transforms(stock_list = f.read_symbols_csv())
transformer.load_transform_tables()

In [4]:
nvda_1h_model = pd.read_pickle('./models/nvda_15m_model_df.pkl')
nvda_1h_model

,top_z21,body_z21,bottom_z21,top_z21,body_z21,bottom_z21,pct_gap_up_down,ac_z5,ac_z8,ac_z13,kma_sma40_diff_z21,Adj Close,direction
Datetime,,,,,,,,,,,,,
2024-05-08 04:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,90.300000,1
2024-05-08 04:15:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,-0.581114,NaN,NaN,NaN,NaN,90.330000,-1
2024-05-08 04:30:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,-0.328767,NaN,NaN,NaN,NaN,90.275000,-1
2024-05-08 04:45:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,90.190994,1
2024-05-08 05:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,0.094222,0.304812,NaN,NaN,NaN,90.294000,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-02 17:30:00-04:00,1.059179,-0.338333,-0.344169,1.059179,-0.338333,-0.344169,0.590909,-0.557500,-0.823609,0.399461,1.541652,106.980000,-1
2024-08-02 17:45:00-04:00,-0.605945,-1.096659,1.306089,-0.605945,-1.096659,1.306089,0.571429,-0.907841,-0.862112,0.198078,1.307013,106.910000,-1
2024-08-02 18:00:00-04:00,2.406042,-0.565121,-1.186161,2.406042,-0.565121,-1.186161,-0.214643,-1.520845,-1.064781,-0.254957,1.138690,106.768900,1
2024-08-02 18:15:00-04:00,2.503337,-1.555460,-0.710695,2.503337,-1.555460,-0.710695,-0.960784,-0.973919,-1.197048,-0.423471,0.943210,106.780000,-1
2024-08-02 18:30:00-04:00,1.659030,-0.912167,-0.739248,1.659030,-0.912167,-0.739248,0.000000,-0.769656,-1.100573,-0.769469,0.553030,106.765000,0