In [1]:
from src import functions as f
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
# download / extract tables
f.download_tables()

Start time: 2024-08-14 19:48:52
Downloaded 56 max daily, hourly, 30m, and 15m stock data
End Time: 2024-08-14 19:50:06

In [3]:
# old way with functions: 
# load / transform tables
# f.load_transform_tables()


# new way with OOP:
transformer = f.transforms(stock_list = f.read_symbols_csv())
transformer.load_transform_tables()

In [4]:
nvda_1h_model = pd.read_pickle('./models/nvda_15m_model_df.pkl')
nvda_1h_model

,top_z21,body_z21,bottom_z21,top_z21,body_z21,bottom_z21,gap_z21,ac_z5,ac_z8,ac_z13,kma_sma40_diff_z21,Adj Close,direction
Datetime,,,,,,,,,,,,,
2024-05-20 04:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.4810,-1
2024-05-20 04:15:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.3690,1
2024-05-20 04:30:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.4980,1
2024-05-20 04:45:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.5450,1
2024-05-20 05:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.442017,NaN,NaN,NaN,93.6700,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-14 18:45:00-04:00,-1.275781,1.156392,-0.342077,-1.275781,1.156392,-0.342077,0.109539,-1.483934,-1.890606,-1.574707,1.583618,117.7296,-1
2024-08-14 19:00:00-04:00,0.387555,-0.402861,0.225604,0.387555,-0.402861,0.225604,-1.037739,-1.297366,-1.725160,-1.721576,1.488825,117.6700,1
2024-08-14 19:15:00-04:00,2.303323,-0.637645,-1.366884,2.303323,-0.637645,-1.366884,-0.076677,-0.781879,-1.174966,-1.534699,1.425666,117.6900,-1
2024-08-14 19:30:00-04:00,-1.464795,1.367673,-0.378404,-1.464795,1.367673,-0.378404,-0.368174,-1.047647,-1.318323,-1.785918,1.011001,117.6200,-1
2024-08-14 19:45:00-04:00,-1.056111,1.581646,-1.171841,-1.056111,1.581646,-1.171841,-1.414666,-1.748290,-2.116531,-2.707321,0.565611,117.2700,0