In [1]:
from src import functions as f
%load_ext autoreload
%autoreload 2

import warnings
warnings.filterwarnings('ignore')

In [2]:
# download / extract tables
f.download_tables()

Start time: 2024-07-04 01:28:04
Downloaded 56 max daily and hourly stock data
End Time: 2024-07-04 01:28:23

In [ ]:
# load transform tables
f.load_transform_tables()

In [4]:
# load / transform tables
import pandas as pd

aapl_1d = pd.read_pickle('./data/aapl_1d_df.pkl')
aapl_1d

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1980-12-12 00:00:00-05:00,0.128348,0.128906,0.128348,0.128348,0.099058,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.122210,0.122210,0.121652,0.121652,0.093890,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.113281,0.113281,0.112723,0.112723,0.086999,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.115513,0.116071,0.115513,0.115513,0.089152,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.118862,0.119420,0.118862,0.118862,0.091737,73449600,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-06-27 00:00:00-04:00,214.690002,215.740005,212.350006,214.100006,214.100006,49772700,0.0,0.0
2024-06-28 00:00:00-04:00,215.770004,216.070007,210.300003,210.619995,210.619995,82542700,0.0,0.0
2024-07-01 00:00:00-04:00,212.089996,217.509995,211.919998,216.750000,216.750000,60402900,0.0,0.0
2024-07-02 00:00:00-04:00,216.149994,220.380005,215.100006,220.270004,220.270004,58046200,0.0,0.0
2024-07-03 00:00:00-04:00,220.000000,221.550003,219.029999,221.550003,221.550003,37369800,0.0,0.0

In [ ]:
aapl_1h = pd.read_pickle('./data/aapl_1h_df.pkl')
aapl_1h

In [ ]:
nvda_1d = pd.read_pickle('./data/nvda_1d_df.pkl')
nvda_1d

In [ ]:
nvda_1h = pd.read_pickle('./data/nvda_1h_df.pkl')
nvda_1h