In [7]:
from src import functions as f
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
# download / extract tables
f.download_tables()

Start time: 2024-07-05 13:04:44
Downloaded 56 max daily and hourly stock data
End Time: 2024-07-05 13:05:48

In [9]:
# load / transform tables
f.load_transform_tables()

Start time: 2024-07-05 13:05:48
Downloaded 56 max daily and hourly stock data
End Time: 2024-07-05 13:08:47

In [10]:
nvda_1h_model = pd.read_pickle('./models/nvda_15m_model_df.pkl')
nvda_1h_model

,pct_top_wick,pct_body,pct_bottom_wick,top_z21,body_z21,bottom_z21,pct_gap_up_down,ac_z5,ac_z8,ac_z13,Adj Close,direction
Datetime,,,,,,,,,,,,
2024-04-10 04:00:00-04:00,0.197531,0.399177,0.403292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.055000,0
2024-04-10 04:15:00-04:00,0.691275,0.067114,0.241611,NaN,NaN,NaN,0.049383,NaN,NaN,NaN,85.057000,0
2024-04-10 04:30:00-04:00,0.228792,0.670951,0.100257,NaN,NaN,NaN,0.026846,NaN,NaN,NaN,84.800000,0
2024-04-10 04:45:00-04:00,0.161616,0.696970,0.141414,NaN,NaN,NaN,-0.051414,NaN,NaN,NaN,84.918000,0
2024-04-10 05:00:00-04:00,0.034093,0.125007,0.840900,NaN,NaN,NaN,0.106061,-0.056061,NaN,NaN,84.950000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-05 15:00:00-04:00,0.423088,0.115382,0.461529,0.654967,-0.859012,0.478171,0.000000,-0.012667,-0.466127,-0.725635,127.129997,0
2024-07-05 15:15:00-04:00,0.200120,0.298002,0.501879,-0.406272,-0.210575,0.639159,-0.019221,0.140961,-0.623080,-0.875065,127.029999,0
2024-07-05 15:30:00-04:00,0.096411,0.156669,0.746920,-0.912827,-0.654988,1.572726,-0.031375,0.403555,-0.322954,-0.646486,127.084999,-1
2024-07-05 15:45:00-04:00,0.015380,0.977042,0.007577,-1.180149,1.886046,-1.352559,0.011327,-1.785305,-2.226464,-2.835237,125.800003,0
2024-07-05 16:00:00-04:00,0.650000,0.275000,0.075000,1.620174,-0.327912,-1.012720,-0.000002,-1.167562,-1.693942,-2.152928,125.690000,0

In [11]:
nvda_1h_model = pd.read_pickle('./data/nvda_15m_df.pkl')
nvda_1h_model.tail()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,,
2024-07-05 15:00:00-04:00,127.099998,127.239998,126.980003,127.129997,127.129997,3165159,0.0,0.0
2024-07-05 15:15:00-04:00,127.125000,127.188797,126.870003,127.029999,127.029999,3650568,0.0,0.0
2024-07-05 15:30:00-04:00,127.019997,127.125000,126.710098,127.084999,127.084999,4904421,0.0,0.0
2024-07-05 15:45:00-04:00,127.089699,127.110001,125.790001,125.800003,125.800003,13361846,0.0,0.0
2024-07-05 16:00:00-04:00,125.800000,126.060000,125.660000,125.690000,125.690000,14851296,0.0,0.0