In [1]:
from src import functions as f
%load_ext autoreload
%autoreload 2

import warnings
warnings.filterwarnings('ignore')

In [2]:
# download / extract tables
f.download_tables()

Start time: 2024-06-26 00:06:29
Downloaded 56 max daily and hourly stock data
End Time: 2024-06-26 00:07:04

In [3]:
# load / transform tables
import pandas as pd

aapl_1d = pd.read_pickle('./data/aapl_1d_df.pkl')
aapl_1d

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1980-12-12 00:00:00-05:00,0.128348,0.128906,0.128348,0.128348,0.099058,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.122210,0.122210,0.121652,0.121652,0.093890,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.113281,0.113281,0.112723,0.112723,0.086999,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.115513,0.116071,0.115513,0.115513,0.089152,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.118862,0.119420,0.118862,0.118862,0.091737,73449600,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-06-18 00:00:00-04:00,217.589996,218.630005,213.000000,214.289993,214.289993,79943300,0.0,0.0
2024-06-20 00:00:00-04:00,213.929993,214.240005,208.850006,209.679993,209.679993,86172500,0.0,0.0
2024-06-21 00:00:00-04:00,210.389999,211.889999,207.110001,207.490005,207.490005,246421400,0.0,0.0
2024-06-24 00:00:00-04:00,207.720001,212.699997,206.589996,208.139999,208.139999,80727000,0.0,0.0
2024-06-25 00:00:00-04:00,209.149994,211.380005,208.610001,209.070007,209.070007,55549700,0.0,0.0

In [4]:
aapl_1h = pd.read_pickle('./data/aapl_1h_df.pkl')
aapl_1h

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,,
2024-04-01 09:30:00-04:00,171.187500,171.220001,169.835007,170.089905,170.089905,12016910,0.0,0.0
2024-04-01 10:30:00-04:00,170.089005,170.160004,169.479996,169.845001,169.845001,5566284,0.0,0.0
2024-04-01 11:30:00-04:00,169.839996,170.080002,169.585007,169.895004,169.895004,4325649,0.0,0.0
2024-04-01 12:30:00-04:00,169.895004,170.020004,169.759995,169.915695,169.915695,2857559,0.0,0.0
2024-04-01 13:30:00-04:00,169.919998,170.089996,169.880005,169.994995,169.994995,2605346,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-06-25 11:30:00-04:00,209.720001,210.485001,209.710007,210.031403,210.031403,3540240,0.0,0.0
2024-06-25 12:30:00-04:00,210.029999,210.190002,209.380005,210.115005,210.115005,3379196,0.0,0.0
2024-06-25 13:30:00-04:00,210.115005,210.670105,209.940002,210.660004,210.660004,3356142,0.0,0.0
2024-06-25 14:30:00-04:00,210.658905,210.669006,209.889999,210.140106,210.140106,3656016,0.0,0.0
2024-06-25 15:30:00-04:00,210.139999,210.139999,208.820007,209.070007,209.070007,5902321,0.0,0.0

In [5]:
nvda_1d = pd.read_pickle('./data/nvda_1d_df.pkl')
nvda_1d

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1999-01-22 00:00:00-05:00,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000,0.0,0.0
1999-01-25 00:00:00-05:00,0.044271,0.045833,0.041016,0.045313,0.041562,510480000,0.0,0.0
1999-01-26 00:00:00-05:00,0.045833,0.046745,0.041146,0.041797,0.038337,343200000,0.0,0.0
1999-01-27 00:00:00-05:00,0.041927,0.042969,0.039583,0.041667,0.038218,244368000,0.0,0.0
1999-01-28 00:00:00-05:00,0.041667,0.041927,0.041276,0.041536,0.038098,227520000,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-06-18 00:00:00-04:00,131.139999,136.330002,130.690002,135.580002,135.580002,294335100,0.0,0.0
2024-06-20 00:00:00-04:00,139.800003,140.759995,129.520004,130.779999,130.779999,517768400,0.0,0.0
2024-06-21 00:00:00-04:00,127.120003,130.630005,124.300003,126.570000,126.570000,655484700,0.0,0.0
2024-06-24 00:00:00-04:00,123.239998,124.459999,118.040001,118.110001,118.110001,476060900,0.0,0.0
2024-06-25 00:00:00-04:00,121.199997,126.500000,119.320000,126.089996,126.089996,414192600,0.0,0.0

In [6]:
nvda_1h = pd.read_pickle('./data/nvda_1h_df.pkl')
nvda_1h

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,,
2024-04-01 09:30:00-04:00,90.366997,92.224998,90.180000,91.344612,91.344612,13388447,0.0,0.0
2024-04-01 10:30:00-04:00,91.380997,91.758003,89.422997,89.982002,89.982002,8557830,0.0,0.0
2024-04-01 11:30:00-04:00,89.979996,89.982986,89.203995,89.878998,89.878998,5871940,0.0,0.0
2024-04-01 12:30:00-04:00,89.888000,90.184006,89.494003,89.904999,89.904999,4339496,0.0,0.0
2024-04-01 13:30:00-04:00,89.897499,90.238998,89.774521,90.142998,90.142998,3396714,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-06-25 11:30:00-04:00,124.095001,125.589996,123.910004,124.570000,124.570000,51742634,0.0,0.0
2024-06-25 12:30:00-04:00,124.570000,125.309998,123.040100,124.370003,124.370003,40123900,0.0,0.0
2024-06-25 13:30:00-04:00,124.360001,125.169998,123.949997,125.129204,125.129204,28842240,0.0,0.0
2024-06-25 14:30:00-04:00,125.120003,126.360001,124.620003,126.320000,126.320000,34177398,0.0,0.0
2024-06-25 15:30:00-04:00,126.320000,126.500000,125.570000,126.089996,126.089996,32599183,0.0,0.0